
*,*::before, *::after {
        box-sizing: border-box;
        transition: all 0.3s ease;
    }


body {
    width: 100vw;
}

h1 {
    text-align: center;
    margin: 0 auto;

    font-size: 42px;
    font-weight: 900;

    animation: bounceIn 0.8s cubic-bezier(0.75, 0.38, 0, 1.14);
}

@keyframes bounceIn {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    50% {
        transform: translateY(20px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
    }
}

main > div:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    margin: 10em auto 1em auto;
    width: 70vw;
    gap: 1em;
}

main > div:first-of-type > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    
    border: 2px solid blue;
}

main > div:first-of-type > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main > div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    border: 2px solid red;
}

div:nth-of-type(2) > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 10.3em;
    height: 15em;
    border: 2px solid orange;
}

div:nth-of-type(2) > div > ul {
    list-style-type: none;
    padding: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 8px 0 0 8px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
}

div:nth-of-type(2) > div > ul > li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

div:nth-of-type(2) > div > ul > li::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 25px;
    height: 10px;
    border-radius: 16px;

    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    filter: blur(2px);
    -webkit-filter: blur(2px);

    transition: width 0.4s ease, height 0.3s ease, opacity 0.3s ease;
}

div:nth-of-type(2) > div > ul > li:hover::after {
    opacity: 1;
    width: 40px;
    height: 20px;
}

div:nth-of-type(2) > div > ul li input[type="radio"] {
    appearance: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40px;
    height: 20px;
    margin: 0;

    /* font-size: 8px; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 8px 0 0 8px;
}

div:nth-of-type(2) > div > ul li input[type="radio"]:checked {
    background: rgba(0, 0, 0, 0.5);
    width: 30px;
}

div:nth-of-type(2) > div > ul li input[type="radio"]::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform: translateX(-200%);
    background: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    z-index: -1;
    opacity: 0;

    transition: transform 0.2s ease, opacity 0.4s ease;
}

div:nth-of-type(2) > div > ul li input[type="radio"]:checked::after {
    transform: translateX(-400%);
    opacity: 1;

    transition: transform 0.4s ease, opacity 0.2s ease;

}

div > div > ul li input[type="radio"] + label {
    font-size: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

div > div > div {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

div > div > div > img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

:has(#Nav:checked) #NavIMG {
    display: block;
}

:has(#Com:checked) #ComIMG {
    display: block;
}

:has(#Fuel:checked) #FuelIMG {
    display: block;
}


/* ol {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid blue;
    width: 100px;
    height: 80px;
    list-style: none;

    padding: 0;
    margin: 0;
}

ol:first-of-type {
    justify-content: flex-end;
}

ol:nth-of-type(2) {
    width: 60px;
} */

/* ol:first-of-type li button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
}

ol:nth-of-type(2) li button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 15px;
    height: 15px;

    font-size: 8px;
} */







form {
    display: flex;
    flex-direction: column;
    height: 15em;
    width: 10em;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



form fieldset:first-of-type {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    margin: 0;
    border: none;
    /* margin: 20em auto; */
    gap: 20px;
}

form fieldset:first-of-type input[type="checkbox"] {
    appearance: none;
    background: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 30px;
    height: 10px;
    border-radius: 8px;
    position: absolute;
    bottom: 0;

    transition: bottom 0.4s ease-in-out;
}

form fieldset:first-of-type input[type="checkbox"]:checked {
    background-color: green;
    bottom: 8em;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

form fieldset:first-of-type :has(input[type="checkbox"]:checked) {
    background: linear-gradient(to top, black 100%, transparent 0%);
    animation: linearGradientBottomTop 0.3s ease-in-out;
}

@keyframes linearGradientBottomTop {
    0% {
        background: linear-gradient(to top, black 5%, transparent 5%);
    }
    50% {
        background: linear-gradient(to top, black 50%, transparent 50%);
    }
    100% {
        background: linear-gradient(to top, black 100%, transparent 0%);
    }
}

form fieldset:first-of-type input[type="checkbox"]:active {
    transform: scale(1.5);
    animation: scaleUpStay 0.3s ease-in-out;
}

@keyframes scaleUpStay {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}


/* div:has(input[type="checkbox"]:checked) {

} */

form fieldset:first-of-type div {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    border: .5px solid black;
    width: 20px;
    height: 8em;
    background: linear-gradient(to top, black 5%, transparent 5%);

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

form fieldset:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    margin: 0;
    padding: 10px 0;
    gap: 20px;
}

form fieldset:nth-of-type(2) input[type="checkbox"] {
    appearance: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-top: 4px solid black;
    position: relative;

    transition: border 0.8s ease-in-out;
}

form fieldset:nth-of-type(2) div:first-of-type input[type="checkbox"]:checked {
    border-top: 1px solid black;
    border-left: 4px solid black;
}

form fieldset:nth-of-type(2) div:nth-of-type(2) input[type="checkbox"]:checked {
    border-top: 1px solid black;
    border-right: 4px solid black;
}

form fieldset:nth-of-type(2) > div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}


form fieldset:nth-of-type(2) input[type="checkbox"] + label {
    font-size: 10px;
    position: relative;
}

form fieldset:nth-of-type(2) input[type="checkbox"]:after {
    content: "Off";
    font-size: 6px;
    position: absolute;

    top: 0;
    left: -110%;
    transform: translate(50%, 0);
}

form fieldset:nth-of-type(2) div:nth-of-type(2) input[type="checkbox"]:after {
    top: 0;
    left: 150%;
    transform: translate(-50%, 0);

}