
*,*::before, *::after {
        box-sizing: border-box;
        transition: all 0.3s ease;
    }

    :root {
        --cockpitColor: rgb(65, 65, 65);
    }

body {
    width: 100vw;
    height: 100vh;
    background-color: skyblue;
    background-image: url(/img/Runway.jpg);
    background-size: cover;
    background-position: center;
    background-position-y: -15em;
    background-repeat: no-repeat;
    margin: 0;
    overflow: hidden;
    
    /* Math for thrust. Use of average speed and calculating the position of the airplane on the image */

    --thrust: calc((var(--throttle1, 50) + var(--throttle2, 50)) / 2);
    background-position-y: calc(-15em + (var(--thrust) * 0.1em));
    background-size: calc(100% + (var(--thrust) * 0.5%));

    transition: background-position-y 1s ease-out 1s, background-size 1s ease-out 1s;
}

header {
    background: var(--cockpitColor);
    height: 10em;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    margin: 0 auto;

    color: white;
    font-size: 42px;
    font-weight: 900;

    animation: bounceIn 0.8s cubic-bezier(0.75, 0.38, 0, 1.14);
}

@keyframes bounceIn {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    50% {
        transform: translateY(20px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
    }
}

main {
    position: absolute;
    bottom: 0;
    left: 0;
}



/* Window */

main > div:first-of-type {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    border: 8px solid black;
    height: 35em;
    margin: 10em auto 0em auto;
}

main > div:first-of-type > div:first-of-type {
    border: 4px solid black;
    background: var(--cockpitColor);
    width: 100%;
    height: 20%;
}


main > div:first-of-type > div:nth-of-type(2), main > div:first-of-type > div:nth-of-type(3) {
    border: 4px solid black;
    height: 80%;
    width: 50%;
    border-radius: 8px;
    background: transparent;
    
}









main > div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: var(--cockpitColor);
    width: 100vw;
    margin: 0auto;
    gap: 5em;
}

main > div:nth-of-type(2) > div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    padding: 0;
}

main > div:nth-of-type(2) > div > div:nth-of-type(2), main > div:nth-of-type(2) > div > div:nth-of-type(4) {
    display: flex;
    width: 100px;
    height: 70px;
    border: 2px solid blue;
}

/* main > div:first-of-type > ul li input[type="radio"] {

} */

main > div:nth-of-type(2) > div > div > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
}

main > div:nth-of-type(2) > div > div > ul > li {
    padding: 2px 5px;
    margin: 0;
    border-radius: 8px;
    font-size: 14px;
}

main > div:nth-of-type(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cockpitColor);
    margin: 0em auto;
    width: 100vw;
    gap: 5em;
}

main > div:nth-of-type(3) > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    
    border-radius: 2px;
    border: 4px solid black;
}

main > div:nth-of-type(3)> div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main > div:nth-of-type(4) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    background: var(--cockpitColor);
}

div:nth-of-type(4) > div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 15em;
}

div:nth-of-type(4) > div > ul, main > div:nth-of-type(2) > div > div > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 8px 0 0 8px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

div:nth-of-type(4) > div > ul > li, main > div:nth-of-type(2) > div > div > ul > li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    color: white;
}

div:nth-of-type(4) > div > ul > li::after, main > div:nth-of-type(2) > div > div > ul > li::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 25px;
    height: 10px;
    border-radius: 16px;

    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    filter: blur(2px);
    -webkit-filter: blur(2px);

    transition: width 0.4s ease, height 0.3s ease, opacity 0.3s ease;
}

div:nth-of-type(4) > div > ul > li:hover::after, main > div:nth-of-type(2) > div > div > ul > li:hover::after {
    opacity: 1;
    width: 40px;
    height: 20px;
}

div:nth-of-type(4) > div > ul li input[type="radio"], main > div:nth-of-type(2) > div > div > ul li input[type="radio"] {
    appearance: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40px;
    height: 20px;
    margin: 0;

    /* font-size: 8px; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 8px 0 0 8px;
}

div:nth-of-type(4) > div > ul li input[type="radio"]:checked, main > div:nth-of-type(2) > div > div > ul li input[type="radio"]:checked {
    background: rgba(0, 0, 0, 0.5);
    width: 30px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

div:nth-of-type(4) > div > ul li input[type="radio"]:hover, main > div:nth-of-type(2) > div > div > ul li input[type="radio"]:hover {
    background: rgba(0, 0, 0, 0.5);
    filter: blur(5px);
}

div:nth-of-type(4) > div > ul li input[type="radio"]:hover + label, main > div:nth-of-type(2) > div > div > ul li input[type="radio"]:hover + label {
    color: white;
    font-weight: 900;
}

div:nth-of-type(4) > div > ul li input[type="radio"]::after, main > div:nth-of-type(2) > div > div > ul li input[type="radio"]::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform: translateX(-200%);
    background: black;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);

    z-index: -1;
    opacity: 0;

    transition: transform 0.2s ease, opacity 0.4s ease;
}

div:nth-of-type(4) > div > ul li input[type="radio"]:checked::after, main > div:nth-of-type(2) > div > div > ul li input[type="radio"]:checked::after {
    transform: translateX(-400%);
    opacity: 1;
    z-index: 1;

    transition: transform 0.4s ease, opacity 0.2s ease;

}

div > div > ul li input[type="radio"] + label, main > div:nth-of-type(2) > div > div > ul li input[type="radio"] + label {
    font-size: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

div:nth-of-type(4) > div:first-of-type > div, main > div:nth-of-type(2) > div > div:nth-of-type(2), main > div:nth-of-type(2) > div > div:nth-of-type(4) {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background: black;
    overflow: hidden;

    position: relative;
}

div:nth-of-type(4) > div:first-of-type > div::after {
    content: "";
    opacity: 0;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 1px;
    height: 10px;
    background: linear-gradient(to top, transparent 50%, rgb(7, 218, 7) 50%);
    filter: drop-shadow(0 0 4px rgb(7, 218, 7));
    z-index: 2;
    
    transition: height .8s ease, opacity 0.4s ease, bottom 0.6s ease;
}

div:nth-of-type(4) > div:first-of-type > div::before {
    content: "";
    opacity: 0;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 8px;
    height: 10px;
    background: linear-gradient(to top, transparent 50%, rgb(0, 255, 0, 0.4) 50%);
    filter: blur(4px);
    z-index: 1;
    
    transition: height .8s ease, opacity 1s ease, bottom 0.6s ease;
}


main > div:nth-of-type(3) > div:first-of-type, main > div:nth-of-type(3) > div:last-of-type {
    position: relative;
    display: flex;

    counter-reset: speed calc(var(--thrust) * 3);
}

main > div:nth-of-type(3) > div:first-of-type::after, main > div:nth-of-type(3) > div:last-of-type::after {
    content: counter(speed) " km/h";

    position: absolute;
    top: 35%;
    left: 0%;
    transform: translate(0, -35%);
    color: white;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 2px;
}




:has(#Nav:checked) div:nth-of-type(4) > div:first-of-type > div::after {
    opacity: 1;
    height: 135px;
    bottom: 12%;
    animation: radarRotate 3s linear infinite 1s;
}

:has(#Nav:checked) div:nth-of-type(4) > div:first-of-type > div::before {
    opacity: 1;
    height: 135px;
    bottom: 12%;
    animation: radarRotate 3s linear infinite 1.05s;
}

@keyframes radarRotate {
    0% {
        transform: translate(-50%, 50%) rotate(0deg);
    }
    25% {
        transform: translate(-50%, 50%) rotate(90deg);
    }
    75% {
        transform: translate(-50%, 50%) rotate(-90deg);
    }
    100% {
        transform: translate(-50%, 50%) rotate(0deg);
    }
}

div > div > div > img {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    width: 10%;
    height: 10%;
    object-fit: cover;

    transition: width 0.4s ease, height 0.4s ease, transform 0.4s ease;
}

:has(#Nav:checked) #NavIMG {
    display: block;
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

:has(#Com:checked) #ComIMG {
    display: block;
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

:has(#Fuel:checked) #FuelIMG {
    display: block;
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ol {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid blue;
    width: 100px;
    height: 80px;
    list-style: none;

    padding: 0;
    margin: 0;
}

ol:first-of-type {
    justify-content: flex-end;
}

ol:nth-of-type(2) {
    width: 60px;
} */

/* ol:first-of-type li button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
}

ol:nth-of-type(2) li button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 15px;
    height: 15px;

    font-size: 8px;
} */







form {
    display: flex;
    flex-direction: column;
    height: 15em;
    width: 10em;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    fieldset:first-of-type {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    margin: 0;
    border: none;
    /* margin: 20em auto; */
    gap: 20px;

    div {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    border: none;
    /* border: .5px solid black; */
    width: 20px;
    height: 8em;
    /* background: linear-gradient(to top, black 5%, transparent 5%); */

    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
}
}
}



/* form fieldset:first-of-type {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    margin: 0;
    border: none;
    gap: 20px;
} */

form fieldset:first-of-type input[type="range"] {
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* appearance: none;
    background: black; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%; 
    border-radius: 8px;
    /* border-radius: 8px; */
    position: absolute;
    bottom: 0;
    writing-mode: vertical-lr;
    direction: rtl;

    

    transition: bottom 0.4s ease-in-out;
}

/* form fieldset:first-of-type input[type="range"]:checked {
    background-color: green;
    bottom: 8em;
} */

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}


form fieldset:first-of-type input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 30px;
    height: 10px;
    border-radius: 16px;
    background: black;
    box-shadow: 0 5px 15px var(--cockpitColor);
}



/* form fieldset:first-of-type input[type="range"]::-ms-fill-lower {
    background: red;
} */

/* form fieldset:first-of-type input[type="range"]::-webkit-slider-thumb:checked {
    animation: scaleUp 0.3s ease-in-out;
} */

form fieldset:first-of-type input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.5);
    animation: scaleUpStay 0.3s ease-in-out;
}

@keyframes scaleUpStay {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

form fieldset:first-of-type input[type="range"]::-webkit-slider-runnable-track {
    /* background: linear-gradient(to top, black calc(var(--throttle1, 50) * 1%), blue calc(var(--throttle1, 50) * 1%)); */
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

form fieldset:first-of-type input[name="throttle1"]::-webkit-slider-runnable-track {
    background: linear-gradient(to top, black calc(var(--throttle1, 50) * 1%), transparent calc(var(--throttle1, 50) * 1%));
}

form fieldset:first-of-type input[name="throttle2"]::-webkit-slider-runnable-track {
    background: linear-gradient(to top, black calc(var(--throttle2, 50) * 1%), transparent calc(var(--throttle2, 50) * 1%));
}

/* form fieldset:first-of-type :has(input[type="range"]:checked) {
    background: linear-gradient(to top, black 100%, transparent 0%);
    animation: linearGradientBottomTop 0.3s ease-in-out;
}

@keyframes linearGradientBottomTop {
    0% {
        background: linear-gradient(to top, black 5%, transparent 5%);
    }
    50% {
        background: linear-gradient(to top, black 50%, transparent 50%);
    }
    100% {
        background: linear-gradient(to top, black 100%, transparent 0%);
    }
} */

/* form fieldset:first-of-type input[type="range"]:active {
    transform: scale(1.5);
    animation: scaleUpStay 0.3s ease-in-out;
} */


/* div:has(input[type="checkbox"]:checked) {

} */




/* form fieldset:first-of-type div {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    border: none;
    width: 20px;
    height: 8em;
} */




form fieldset:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    margin: 0;
    padding: 10px 0;
    gap: 20px;
}

form fieldset:nth-of-type(2) input[type="checkbox"] {
    appearance: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-top: 4px solid black;
    position: relative;

    transition: border 0.8s ease-in-out;
}

form fieldset:nth-of-type(2) div:first-of-type input[type="checkbox"]:checked {
    border-top: 1px solid black;
    border-left: 4px solid black;
}

form fieldset:nth-of-type(2) div:nth-of-type(2) input[type="checkbox"]:checked {
    border-top: 1px solid black;
    border-right: 4px solid black;
}

form fieldset:nth-of-type(2) > div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}


form fieldset:nth-of-type(2) input[type="checkbox"] + label {
    font-size: 10px;
    position: relative;
}

form fieldset:nth-of-type(2) input[type="checkbox"]:after {
    content: "Off";
    font-size: 6px;
    position: absolute;

    top: 0;
    left: -110%;
    transform: translate(50%, 0);
}

form fieldset:nth-of-type(2) div:nth-of-type(2) input[type="checkbox"]:after {
    top: 0;
    left: 150%;
    transform: translate(-50%, 0);

}



/* Interaction triggers */